.header{
  margin-top: 0;
  z-index: 1000;
  position: fixed;
  min-height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  transition: all .3s ease-in;
  &--visible{
    background-color: $white;
    min-height: 75px;

  }
  &__inner{
    @include container;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title{
    color: #fb923d;
    font-size:32px;
    transition: color .4s ease-in-out;
    &:hover{
      color:$black ;
    }
    &--visible{
      color:$black;
    }
  }
  &__search{
    background-repeat: no-repeat;
    background-position: center;
    background-color: #eeeeee;
    width: 35px;
    height: 35px;
    border: 1px solid #eee;
    border-radius: 20px;
    padding: 0 10px;
    transition: all 0.5s ease-in-out;
    &--open{
      width: 200px;
      background-position:left;
      padding: 0 20px;

    }
  }
}